.f-avatar-group {
  display: inline-flex;
  align-items: center;
}

.f-avatar-group .f-avatar {
  border: 2px solid rgba(255, 255, 255, 0.4);
  position: relative;
  transition: all 0.3s ease;
}

.f-avatar-group .f-avatar:not(:first-child) {
  margin-left: -8px;
}

.f-avatar-group--small .f-avatar:not(:first-child) {
  margin-left: -6px;
}

.f-avatar-group--medium .f-avatar:not(:first-child) {
  margin-left: -10px;
}

.f-avatar-group--large .f-avatar:not(:first-child) {
  margin-left: -14px;
}

.f-avatar-group .f-avatar--square {
  border-radius: 4px;
}

.f-avatar-group__extra {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0 3px 0 2px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .f-avatar-group .f-avatar:not(:first-child) {
    margin-left: -6px;
  }
}
