.f-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--f-avatar-color-bg);
  color: var(--f-avatar-color-text, #fff);
  font-weight: var(--f-avatar-font-weight, 500);
  font-size: 14px;
  border-radius: var(--f-avatar-border-radius-circle, 50%);
  overflow: hidden;
  position: relative;
}

.f-avatar--square {
  border-radius: var(--f-avatar-border-radius-square, 4px);
}

.f-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-avatar__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.f-avatar--clickable {
  cursor: pointer;
}

.f-avatar__trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--f-avatar-trigger-color, #fff);
  background: var(--f-avatar-trigger-bg, rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity var(--f-avatar-trigger-transition-duration, 0.2s);
}

.f-avatar:hover .f-avatar__trigger {
  opacity: 1;
}

.f-avatar__trigger--button {
  background: none;
  opacity: 1;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  left: auto;
  top: auto;
  transform: translate(50%, 50%);
}
